@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
  font-weight: 700; /* الخط عريض */
}

body {
  background: #0f172a;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 350px;
  background: #1e293b;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 800;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #a5b4fc;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #475569;
  background: #0f172a;
  color: #fff;
  margin-bottom: 15px;
  font-size: 15px;
}

button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #0ea5e9, #22c55e);
  border: none;
  border-radius: 999px;
  font-size: 16px;
  cursor: pointer;
  color: #0f172a;
  font-weight: 800;
  margin-top: 10px;
}

a {
  color: #38bdf8;
  text-decoration: none;
  display: inline-block;
  margin-top: 15px;
  text-align: center;
  width: 100%;
}

.nav-btn {
  padding: 6px 14px;
  border-radius: 999px;
  border: 1px solid #38bdf8;
  color: #38bdf8 !important;
  font-weight: 700;
  transition: 0.2s;
}

.nav-btn:hover {
  background: #38bdf8;
  color: #0f172a !important;
}

